.styleAutocomplete{
    width: 100%;
}
  
.styleAutocomplete input{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
}

.datalistAuto{
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid grey;
}

.datalistAuto::before{
  content: "";
}

.datalistAuto option{
  cursor: pointer;
  width: 100%;
  padding: 10px 5px;
 
  
}

.datalistAuto option:hover{
  text-decoration: underline;
  background-color: rgba(128,128,128,0.20);
  
}