.fade.in {
    opacity: 1 !important;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
}

.modal-content {
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) !important;
}
