.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Add Styles*/
.bgbody {
  background: url(img/fondo_app.png)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  /* text-align: center; */
}

.campLogin {
  border: 0px solid #fff;
  padding: 50px 60px;
  margin-top: 20vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  color: #fff;
}

.panel-heading {
  color: #000;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  color: #006a42;
}

.panel-title > a {
  color: inherit;
}

.panel-select {
  display: inline-block;
  color: #000;
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-select > hr{
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(2, 232, 21, 0.829);
}

.panel-select:hover > hr{
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(2, 232, 21, 0.829);
  height: 3px;
}
.msg-login{
  color: #ff0000;
  font-size: 1.1rem;
  font: italic bold;
}

/*Styles for Menu*/
.bm-item-list a {
  padding: 0.8em;
}
.bm-item-list a span {
  margin-left: 10px;
  font-weight: 700;
}
.bm-item:focus {
  outline: none;
}
.bm-menu {
  background: #373a47;
}
.bm-menu a {
  color: #b8b7ad;
}
.bm-menu a:hover,
.bm-menu a:focus {
  color: #c94e50;
}

.contenidoInternaHome{
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #006a42;
  font: italic;
}
.herramientas{
  width: 95%; 
  display: inline-block;
  /* padding: 5%;
  margin: 2%;*/
  text-align: center;
}
.herramientas label{
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #006a42;
  font: italic;
}
.herramientas img{
  cursor: pointer;
}
.contenidoInternaContact{
  background: #CA63F7;
}
.contenidoInternaQuienessomos{
  background: #8C383E;
}
.contenidoInternaMision{
  background: #9BD827;
}
.contenidoInternaVision{
  background: #0C3935;
  color: #fff;
}

.react-bs-table-bordered {
  border: 1px solid #000 !important;
  background:  #fff !important;
}

.datePickerFecha{
  width:  100%;
  display: inline-block;
  padding: .375rem .75rem;
  margin: 20px;
}